@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600);
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background: #fafafa;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

button{
	background: none;
	border: 1px solid black;
}

.subtitle {
	margin-top: 0;
	margin-left: 0;
	color: #9E9E9E;
}

.container {
	min-height: 600px;
	width: 100%;
	padding: 15px;
	margin: 0 auto;
}

.form {
	display: none;
	background: #FAFAFA;
	padding: 32px 0;
	border: 1px solid #eee;
	border-radius: 4px;
}

.form-content{
	width: 100%;
	max-width: 600px;
	margin: auto;
	font-size: 14px;
}

.form .form-title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 16px;
	color: #757575;
}

.form .form-field{
	width: 100%;
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: normal;
	padding: 12px 16px;
	border-radius: 4px;
	border: 1px solid #ddd;
	outline: none;
	color: #212121;
}

.form textarea.form-field{
	min-height: 200px;
}

.form .post-submit-button{
	display: inline-block;
	padding: 8px 16px;
	font-size: 18px;
	color: #FFF;
	background: #03A9F4;
	text-decoration: none;
	border-radius: 4px;
}

.form.appear {
	display: block;
}

.single-post {
	margin: 20px 0;
	padding: 15px;
	border-radius: 2px;
}

.single-post .post-title{
	font-size: 28px;
	margin-bottom: 16px;
	font-weight: 400;
	color: #616161;
}

.single-post.post-detail .post-title{
	font-size: 42px;
	color: #454545;
}

.single-post .post-title a{
	text-decoration: none;
	color: #616161;
}

.single-post .author-name{
	font-size: 16px;
	margin-bottom: 16px;
	color: #757575;
}

.single-post .post-desc{
	font-size: 14px;
	color: #888;
	margin-bottom: 8px;
}

.single-post.post-detail .post-desc{
	font-size: 16px;
	color: #555;
}

.single-post .post-action a{
	color: #555;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
}

.single-post .post-action a:hover{
	color: #EF5350;
}

.single-post .divider{
	border: 0;
    height: 1px;
    background: #ccc;
    width: 250px;
    margin: 32px auto 0;
}

.header {
	background-color: #eee;
	background-image: url('/img/header-bk.png');
	background-position: center;
	background-size: cover;
	border-bottom: 1px solid #ccc;
}

.header .header-content {
	width: 100%;
	max-width: 980px;
	margin: auto;
	padding: 64px 16px;
	overflow: auto;
}

.site-title {
	font-weight: 300;
	font-size: 42px;
	float: left;
}

.site-title a{
	text-decoration: none;
	color: #FFF;
}

.add-post-button {
	display: inline-block;
    color: #FFF;
    background: #03A9F4;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1000px;
    float: right;
}

.footer{
	text-align: center;
	padding: 56px 0;
	background-color: #FFF;
	background-image: url('/img/header-bk.png');
	background-position: center;
	background-size: cover;
}

.footer p{
	margin: 0 0 8px 0;
	font-size: 18px;
	color: #FFF;
}

.footer a{
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
}

#map{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
}

.SearchWrapper{
	height: 450px;
	position: relative;
}

.SearchWidget{
	width: 42%;
	margin: 0 auto;
	top: 50%;
	position: relative;
}

.tweet-form-fields{
	height: 40px;
}

.tweet-form-fields input{
	height: 100%;
	border: none;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 20px;
    margin:0 5px;
    color:white;
}

.tweet-form-fields ::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.55);
}

.tweet-form-fields :-moz-placeholder{ /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.55);
}

.tweet-form-fields :-ms-input-placeholder{ /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.55);
}

.tweet-form-fields ::-moz-placeholder{ /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.55);
}

.tweet-form-fields input,
.tweet-form-fields input::-webkit-input-placeholder {
    font-size: 20px;
    vertical-align: top;
}

.tweet-form-fields button{
	margin-top: 20px;
	border-radius: 3px;
	vertical-align: super;
	height: 100%;
	width: 80px;
    font-size: 15px;
    background: #b34365;
    border: none;
    color: white;
}

.tweet-form-action{
	display: inline-block;
	height: 100%;
}

.bgwrapper{
	height: 400px;
}

.bgwrapper, .bgwrapper img{
		background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*css for TweetsList*/

.user-info{
	padding: 14px;
	overflow: auto;
}

.tweet-avatar img{
	border: 1px #ccc solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
}

.tweet-id{

	font-weight: bold;
}

.tweet-info{
	padding-top: 5px;
	padding-left: 15px;
		float: left;
}

.tweet-time{
	margin-top: 8.5px;
	font-size: .8em;
}

.tweets-text{
	font-size: .9em;
	padding: 30px;
	line-height: 20px;
}

.tweet-wrapper{
	display: inline-block;
	width: 33.3%;
}

.tweet-showbox{
	font-weight: 300;
	background-color: #fff;
	margin: 20px;
	border: 1px #ccc solid;
	border-radius: 7px;
}

.pin-header{
overflow: auto;
}

.pin-header div{
display: inline-block;
float: left;
}

.pin-avatar img{
width: 50px;
height: 50px;
border-radius: 50%;
background-image: url(传过来数据的img);
background-size: cover;
}

.pin-username{
padding: 16px;
font-size: 16px;
font-weight: 400;
}

.pin-content{
padding: 25px;
}

@media (max-width: 767px){
	.add-post-button{
		float: left;
		margin-top: 16px;
	}
}
